.cart__table__col,
.cart__table__header{
    border: 1px solid #ddd;
    padding: 8px 12px;
}
.cart__table{
    width: 100%;
    border-collapse: collapse;
    margin: 24px 12px;
    text-align-last: left;
}
.cart__table__row:nth-child(even){
    background-color: #f2f2f2;
}
.cart__table__header{
    background-color: var(--primary);
    color:var(--white);
}
.cart__button{
    padding: 8px 12px;
    border-radius: 2px;
    color: var(--white);
    background-color: #28da5d;
    border: none;
    cursor: pointer;
    font-size: 0.875rem;
}
.cart__button + .cart__button{
    margin-left: 12px;
}
.cart__button:hover {
    background-color: #21bd4f;
}
.danger { 
    background-color: var(--fourth);
}
.danger:hover { 
    background-color: #ee203c;
}

.warning{
    background-color: var(--third);
}
.warning:hover{
    background-color: #f0ab2d;
}
.cart__controls{
    display: flex;
    justify-content: flex-end;
}