header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--third);
    box-shadow: 0 1px 2px #999;
    z-index: 99;
}
.header__logo{
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    padding: 4px 0;
}
.header__logo img{
    display: block;
    width: 100%;
    height: 100%;
}
.header__nav__mobile{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 100%;
    z-index: 100;
    overflow: hidden;
    background: var(--white);
    transition: 0.3s;
    padding: 12px 0;
}
.header__nav__mobile.show{
    right: 0;
}
.header__nav__mobile-open{
    
}
.header__nav__mobile-close{
    display: block;
    margin-bottom: 16px;
    padding: 0 12px;
}
.header__nav__mobile__item{
    display: block;
    text-decoration: none;
    color: var(--black);
    padding: 8px 24px;
    
}
.header__nav__pc{
    height: 100%;
    display: flex;
    align-items: center;
    
}
.header__nav__pc__item{
    text-decoration: none;
    color: var(--black);
    padding: 8px 12px;
    transition: 0.1s;
    font-weight: 500;
}
.header__nav__pc__item.active{
    color: var(--white);
    
}
.header__nav__pc__item:hover:not(.active){
    color: var(--secondary);
}
.header__menu{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content{
    margin-top: 50px;
}
