.footer{
    background-color: var(--third);
    padding: 24px 0;
    color: var(--black);
}
.footer__title{
    text-transform: uppercase;
}
.footer__item{
    padding: 4px 0;
    margin: 2px 0;
    font-size: 0.875rem;
}
.footer__link{
    display: inline-block;
    text-decoration: none;
    color: var(--black);
}
.footer__img{
    width: 200px;
    height: 70px;
    margin: 0 auto;
    display: block;
}